@import "../../assets/scss/main.scss";

.toolbar {
  display: flex;
  justify-content: space-between;
  position: relative;

  .hide-show-sidenav {
    margin-top: 1rem;
  }
}

.form-container {
  display: flex;
  justify-content: flex-end;
  position: relative;

  .search-input {
    margin-right: 5rem;
  }

  .search-btn {
    position: absolute;
    top: 1rem;
  }
}
