@import "../../../assets/scss/main.scss";

mat-card {
  width: 400px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  border-radius: 1rem;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
  }
}

::ng-deep mat-card-title-group div {
  width: 100%;
  text-align: center;

  mat-card-title {
    text-transform: uppercase;
  }
}

a:link {
  text-decoration: none;
}
