@import "../../../assets/scss/main.scss";

.pagination-container {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 5rem 0;
}

button {
  width: 250px;
  border-radius: 3rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 2rem;
  letter-spacing: 2px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
  }
}

.hide-btn {
  visibility: hidden;
}
