@import "../assets/scss/main.scss";

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-grey-light-2;
}

mat-sidenav {
  width: 200px;
}

.container {
  display: flex;
  flex-direction: column;
}

.main-container {
  padding: 0 5rem;
}

.navbar-container {
  padding: 0 5rem;
  padding-top: 2rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > * {
    margin: 3rem 0;
  }
}
