/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

.trailer-dialog-container .mat-dialog-container {
  background-color: transparent;
  box-shadow: none;
  padding: 0px;
  overflow: hidden;
}

.mat-button-focus-overlay {
  background-color: transparent;
}
